/*CSS STYLESHEET*/
/*IMPORTS*/
@import url('https://fonts.cdnfonts.com/css/glacial-indifference-2');
@import url('https://fonts.cdnfonts.com/css/peace-sans');

@font-face {
  font-family: 'Peace Sans';
  src: local('/assets/fonts/peace_sans.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Glacial Indifference';
  src: url('/assets/fonts/GlacialIndifference-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


/*GENERIC STYLING*/

body {
    overflow-x: hidden; /*responsive design to prevent horizontal scrolling*/
  }

* {
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  border: 0px;
  text-align: center;
}

h1,h2,h3,h4 {
  display: inline;
  font-family: 'Peace Sans', sans-serif;
  font-weight: 300px;
  text-align: center;
}

h2 {
  margin-bottom: 2em;
}

p {
  font-family: 'Glacial Indifference', sans-serif;
  padding: 0em 2em;
}

.button {
  text-align: center;
}

.button a {
  display: inline;
  justify-content: center;
  border-color: yellow;
  border-style: solid;
  border-width: 0.2em;
  border-radius: 12em;
  color: white;
  padding: 0.5em 1em;
  transition: 0.5s; /*Trasition Added*/
}

.button a:hover {
  background-color: yellow;
  color: black;
  cursor: pointer;
}

/*NAVBAR FEATURE
Elements = navbartitle, icon, menuitems */

nav {
  position: fixed;
  width:100%;
  height: 57px;
  background-color: white;
}

.navbar {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.navbartitle {
  width: auto;
  max-height: 57px;
  margin: 0px 0px 1em;
  padding: 0px
}

@media only screen and (max-width: 340px) {
  .navbartitle {
  max-height: 35px;
}
}

.navbar .icon {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2.6em;
  padding: 0.2em;
}

.navbar #icon-open {
  position: absolute;
  top: 0;
  right: 0;
  color: orange;
  padding: 0.2em;
}

.navbar .icon #icon-close {
  display: none;
  color: orange;
  font-size: 0.8em;
  padding: 0.2em;
}

.navbar.menuOpen .icon #icon-open {
  display: none;
}

.navbar.menuOpen .icon #icon-close {
  display: flex;
  color: orange;
  font-size: 0.8em;
  padding: 0.2em;
  text-decoration: none;
}

.navbar.menuOpen .icon #icon-close a {
  text-decoration: none;
}

.menu-items {
  border-bottom: 0em
}

.menu-items a {
  position: relative;
  margin: 0.49em 0.4em 0.2em;
  padding: 0.15em 0.7em 0.27em;
  font-size: 1.5em;
  font-family: 'Glacial Indifference', sans-serif;
  color:black;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.5s; /*Trasition Added*/
}

a.tab-active {
  background-color: lightblue;
}

.menu-items a:hover {
  background-color: green;
  color: white
}

.menu-items li {
  margin-bottom: 1em;
  list-style: none;
}

@media screen and (max-width: 744px) {
  .menu-items {
    display: none;
  }

.navbar.menuOpen {
  background-color: white;
  flex-direction: column;
}

main {
  transition: margin-top 0.45s ease-in-out;
}

.move-down {
  margin-top: 88px;
}

.navbar.menuOpen i {
  display: none
} 

.navbar.menuOpen ul {
    display: flex;
    flex-direction: column;

}
}

@media screen and (min-width: 743.99px) {
  .menu-items a {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  .menu-items li {
    display: inline-block; 
  }
  .navbar #icon-open {
    display: none;
  }
}



/*FOOTER FEATURE 
Elements = footer-small-print, footer icons */

footer {
  margin-top: 2em;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  min-height: 5rem;/* height of the footer changed*/
  background-color: lightblue;
}

.footer-small-print {
  text-align: center;
  margin-bottom: 1em;
  justify-content: center; 
}

.footer-row1,
.footer-row2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-links a {
  background-color: grey;
  background-size: auto;
  color: white;
  border-radius: 10%;
  padding: 0.2em;
  margin: 0.2em;
  width: 3em;
  
}

.footer-links a:hover {
  background-color: black;
}

@media screen and (min-width: 700px) {
  .footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-links a {
    padding: 0.2em;
    margin: 0.2em;
    width: 3em;
  }
  
  .footer-links a {
    flex: 1;
  }
}





















/*HOME PAGE*/


/*HERO FEATURE*/

#hero-feature {
  margin-top: 2.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -1;
}

.hero-image-container {
  width: 100%;
  max-height: 700px;
  object-fit: cover;
  display: block;
  border-radius: 1em;
  overflow: hidden;
}


.hero-image-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  border-radius: 1em;
}

.hero-image-desktop-container {
    display:none;
  }
  
.hero-image-desktop-container img {
    display:none;
  }


@media (min-width: 768px) {
  .hero-image-container img {
    display: none;
  }

  .hero-image-desktop-container {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    display: block;
    border-radius: 1em;
    overflow: hidden;
  }
  
.hero-image-desktop-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: inline;
  border-radius: 1em;
  margin-top: -6em;
  }
}



.hero-heading {
  z-index: 1;
  position: absolute;
  top: 10em;
  left: 3%;
  right: 3%;
  margin: 0em;
  padding: 0.5em;
  background-color: rgba(255, 166, 0, 0.495);
  color: white;
  font-size: 2.4em;
  text-align: center;
  border-radius: 0.3em;
  height: auto;
}

@media (max-width: 452px) {
  .hero-heading {
    top: 5em;
    font-size: 1.4em;
  }
}

@media (min-width: 768px) {
    .hero-heading {
      display: flex;
      align-items: center;
      z-index: 1;
      position: absolute;
      top: 4em;
      left: 10%;
      right: 10%;
      margin: 0em;
      padding: 0.5em;
      background-color: rgba(255, 166, 0, 0.495);
      color: white;
      font-size: 2.4em;
      text-align: center;
      border-radius: 0.3em;
      height: auto;
  }
}

/*MISSION INTRO*/



#mission-intro img {
  width: 80%;
  max-height: 500px;
  max-width: auto;
  object-fit: contain;
}

@media (min-width: 768px) {
  .responsive-1to2-columns {
    display: grid;
    grid-template-columns:  1fr 1fr;
  }

  #mission-intro img {
    grid-column: 1;
  max-height: 500px; 
  width: 80%;
margin-left: 10%;
margin-right: 10%;}

  #mission-intro p {
    grid-row: 1;
    grid-column: 2;
  }

}

@media (min-width: 1368px) {
  #mission-intro img {
  max-height: 700px; 
  width: auto;}
}


/*HOME PAGE FEATURES INTRO*/
/*Code is almost identical to Features Page Landing Section - there are overlapping classes - EDIT FEATURES PAGE Landing SECTION*/

#features-intro-homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#features-intro-homepage h2 {
  display: flex;
  justify-content: center;
}

/*HOMEPAGE FEATURES LINK*/

#features-link {
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  
  margin-bottom: 2em;
}

.background-wrapper-black {
  background-color: black;
  color: white;
  width: 80%;
  border-radius: 1em;
  padding-top: 2em;
  padding-bottom: 3.5em;
}

#features-link img {
  width: 80%;
  max-height: 500px;
  max-width: auto;
  object-fit: contain;
}

@media (min-width: 768px) {
  .background-wrapper-black {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #features-link img {
  max-height: 500px; 
  max-width: auto;}

}

@media (min-width: 768px) {
  #features-link img {
  max-height: 500px; 
  max-width: auto;}
}

@media (min-width: 1368px) {
  #features-link img {
  max-height: 700px; 
  width: auto;}
}



/*HOME PAGE TESTIMONIAL FEATURE*/

#testimonials * {box-sizing: border-box;}
.testimonial {display: none;}
#testimonials img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/*Testimonial img*/

.testimonial img {
  margin-top: 2em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 1em;
}

/* Caption text */
.testimonial-text .testimonial-name .testimonial-title{
  color: #f2f2f2;
  font-size: 15px;
  padding: 2em 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  margin-bottom: 2em;
}

/* Testimonials The dots/bullets/indicators */
.carouselDot {
  height: 15px;
  width: 15px;
  margin: 2em 1%;
  background-color: rgb(192, 192, 192);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: orange;
}

/* Testimonials Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*testimonials mobile view, force all into 1 column*/

@media (max-width: 768px) {
  .testimonial {
    display: grid;
    grid-template-columns: 1;
  }
  .testimonial-text{
    margin-top: 1em;
  }

  .testimonial-name {
    margin-top: 0.5em;
  }

   .testimonial-title{
    margin-top: 0.2em;
   }
}

/* in tablet view, present testimonials as 2 columns */

@media (min-width: 768px) {

.testimonial {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.testimonial img {
  grid-column: 1;
  grid-row: 1/5;
}

.testimonial-text, .testimonial-name, .testimonial-title{
  grid-column: 2;
}

.testimonial-name p {
  grid-column: 2;
  grid-row: 3;
  margin: auto;
}

.testimonial-title {
  grid-column: 2;
  grid-row: 4;
}

.testimonial-text{
  margin: auto;
  grid-row: 1/3;
}

}
/* in desktop view, present testimonials as floating ticker row */

@media (min-width: 1268px) {
    .slideshow-container {
    
  }
}

@media (min-width: 1768px) {
  .slideshow-container {
    
  }
}


/*Book trial link*/

.booktrial-link {
  justify-content: center;
  background-color: orange;
  border-radius: 2em;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
}

.booktrial-link img {
    height: auto;
    width: 8vh;
}
















/*FEATURES LANDING*/
/*these classes effect Homepage features intro */

.features-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.features-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper img {
  max-width: 8em;
  display: inline-block;
  align-items: center;
  height: auto;
  flex-direction: row;
}

.features-landing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.features-heading-container h1 {
  display: inline;
  font-size: 5.2vw;
  text-align: center;
  color: white;
}


.features-landing h2 {
  display: flex;
  justify-content: center;
}

.features-wrapper {
  color: white; 
  background-color: orange;
  border-color: orangered;
  border-width: 0em 5em;
  padding: 3em 1em 3em;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 0%;
  width: 80%;
  flex-direction: column;
}

.features-heading-container {
  display: block;
}

@media screen and (min-width: 800px) {
  .features-heading-container h1 {
      font-size: 3em;
    }
  
  .app-wrapper {
  display: flex;
  flex-direction: row;
  }
}
  
/*Description of 3 FEATURES*/

@media screen and (min-width: 850px) {
  .img-text-wrapper {
    display: flex;
    flex-direction: row;
  }

  .img-text-wrapper-reverse {
    display: flex;
    flex-direction: row-reverse;
  }

  .img-text-wrapper p, .img-text-wrapper-reverse p{
    align-items: center;
    display: flex;
  }
}

/* FEATURES LINK */

.features-link-img-wrapper img {
  width: 80%;
} 











/*BOOK TRIAL LANDING FEATURE
Elements: */

#booktrial-landing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#booktrial-landing h1 {
  display: inline;
  font-size: 5.2vw;
  text-align: center;
  color: white;
}

@media screen and (min-width: 800px) {
#booktrial-landing h1 {
    font-size: 3em;
  }
}

.booktrial-form h2 {
  display: flex;
  justify-content: center;
}

.heading-container {
  color: white; 
  background-color: orange;
  border-color: orangered;
  border-width: 0em 5em;
  padding: 3em 1em 3em;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 0%;
  width: 80%;
  flex-direction: column;
} 

#booktrial-landing .img-container {
  display: flex;
  justify-content: center;
  margin-top: -3em;
}

@media only screen and (min-width: 1200px) {
  #booktrial-landing {
    flex-direction: row;
  }

  #booktrial-landing {
    color: white; 
    background-color: orange;
    border-color: orangered;
    border-width: 0em 5em;
    margin-left: 4%;
    padding: 3em 1em 3em;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    margin-top: 0%;
    margin-bottom: 0%;
    width: 90%;
  } 

  .heading-container {
    font-size: 1.3vh;
    padding: 0px;
    margin: 0px;
  }

}

#booktrial-landing img {
  display: flex;
  justify-content: center;
  align-content: flex-end;
  
  width:46%;
  height: auto;
}

/*BOOK TRIAL FORM*/
.booktrial-bg-img img{
  width: 100%;
  top: 19em;
  height: auto;
  z-index: -1;
  position: absolute;
}



label {
  font-family: 'peace sans';
}

form input[type="text"],
form input[type="password"],
form input[type="tel"],
form input[type="email"] {
  padding: 0.7em 1em;
  border: 0.15em solid black;
  border-radius: 0.7em;
  font-size: 14px;
  font-family: 'glacial indifference';
  text-align: center;
}

h2, p, form {
  text-align: center;
}

.fa-square-xmark:before, .booktrial-form .error {
  display: none;
  color: red;
}

.fa-square-check:before {
  color: green;
  display: none;
}

button[type="submit"] {
  background-color: orange;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  transition: 0.5s; /*Trasition Added*/
}

button[type="submit"]:hover {
  background-color: red;
}

@media  screen and (min-width:744px) {
#form-grid-container {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

form input {
  width: 70%;
  text-align: center;
  justify-content: center;
  margin: 0px 10%;
}

#form-grid-container > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#fname, #school, #email, #password {
  grid-column-start: 1;
}

#lname, #job-title, #mobile-number, #confirm-password {
  grid-column-start: 2;
}


}

@media  screen and (min-width:1728px) {
  #booktrial-form {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  #booktrial-form > h2,p, .submit {
    grid-column-start: 1;
  }

  button[type="submit"] {
    grid-column-start: 1;
}
}
