/*FEATURE 1: NAVBAR 
Elements = navbartitle, icon, menuitems */

/*Navbar_Mobile */ 

nav {
  position: sticky;
  height: 57px;
  background-color: grey;
}

.navbar {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.navbartitle {
  width: auto;
  max-height: 57px;
  margin: 0px;
  padding: 0px
}

.navbar .icon i {
  color: #FF6100;
  font-size: 2.6em;
  padding: 0.2em
}

@media screen and (max-width: 744px) {
  .menu-items {
    display: none;
  }

.navbar.menuOpen {
  flex-direction: column;
}

.navbar.menuOpen i {
  background-color: blue;
} 

.navbar.menuOpen ul {
    display: flex;
    flex-direction: column;

}
}