/*CSS STYLESHEET*/
/* This CSS Stylesheet is structured by Fixed Styling and Responsive Design Utilities*/


/*FIXED STYLING - TYPEFACES*/

@font-face {
  font-family: 'glacialindifference';
  font-style: normal;
  font-weight: 400;
  src: local('Glacial Indifference'),
       url('https://fonts.cdnfonts.com/s/31913/GlacialIndifference-Regular.woff') format('woff');
  font-display: swap;

}

@font-face {
  font-family: 'PeaceSans';
  font-style: normal;
  font-weight: 400;
  src: local('Peace Sans'), url('https://fonts.cdnfonts.com/s/16323/peace_sans.woff') format('woff');
  font-display: swap;
}

/*These type selectors are all Peace Sans*/
h1, h2, label {
  font-family: 'PeaceSans', sans-serif;
}

/* These type selectors are all Glacial Indifference*/
p, h3, h4, h5, a,
form input{
  font-family: 'glacialindifference', sans-serif;
}

/* these type selectors are all Glacial Indifference, but with some small changes in style*/
h3 {font-weight: 700 !important; /*bolden text*/}
h4 {font-style:italic;/*italicize text*/}
h5 {font-size: 0.7rem;/*reduce font size*/}

/*FIXED STYLING - COLORS*/
/*Root variables are used to define the color palette. The colors are used throughout the stylesheet. It's a useful function because it allows the color palette to be changed easily.*/

:root {
--orange: #ff8400; /* Brand color */
--lightblue: #add8e6; /*background color*/

/*Harmonious palette*/
--orangered: #ff4500;
--salmon: #fa8072;
--lightsalmon: #ffa07a;
--yellow: #ffd000;
--transparent-orange: #ffa6007e;

/*Neutral palette*/
--black-dark: #1e1e1e;
--black-medium: #313131;
--black-light: #434343;
--lightgrey:#d3d3d3;
--grey: #808080;
--white: #ffffff;
}

/*Here I have extracted all color: values from the CSS file and grouped them into one section. This is useful for responsivity because it allows the color palette to be changed easily.*/
/*TODO: group further together by color*/

.button a, #myBtn {
  border-color: var(--yellow);
  color: var(--white);}
#myBtn {
  background-color: var(--salmon);
  border-color: var(--white);}
#myBtn:hover {background-color: var(--orangered);}
.button a:hover {
  background-color: var(--yellow);
  color: var(--black-medium);}

.navbar {background-color: var(--white);}
.navbar .icon #icon-open {color: var(--orange);}
.navbar .icon #icon-close {color: var(--orange);}
.navbar.menuOpen .icon #icon-close {color: var(--orange);}
.menu-items a {color: var(--black-medium);}
a.tab-active {background-color: var(--lightgrey);}
.menu-items a:hover { 
  background-color: var(--lightsalmon);
  color: var(--white)
}
.navbar.menuOpen { background-color: var(--white);}

footer { background-color: var(--lightblue);}
.footer-links a {background-color: var(--grey);}
.footer-links a:hover {background-color: var(--black-light);}

.hero-heading { background-color: var(--transparent-orange); color: var(--white);}
#app-intro-nested {background-color: #cd5a5a00;color: var(--black-medium);}
#app-intro-nested h1 {color: var(--black-medium);}
.background-wrapper-black {background-color: var(--black-medium); color: var(--white);}
.backround-wrapper-orange {background-color: var(--orange); color: var(--white);}
.testimonial-name, .testimonial-title {color: var(--black-medium);}
.testimonial-background-blue {background-color: var(--lightblue);}
.testimonial-background-orange {background-color: var(--lightsalmon);}



.features-wrapper { background-color: var(--orange); color: var(--white);}

.heading-container {background-color: var(--orange); color: var(--white);}
#booktrial-landing .heading-container {background-color: var(--orange); color: var(--white);}
button[type="submit"] { background-color: var(--orange); color: var(--white);}

.text-white {color: var(--white);} /*here I am beginning to replace the previous id styling with class="text-[color]" styling, for easier workflow*/
.text-black-medium {color: var(--black-medium);}

.air-quotations{mix-blend-mode: screen; opacity: 0.3; z-index: -1;}

/*Animations*/
.button a, #myBtn, .menu-items a, button[type="submit"], header, a {
  transition: 0.5s; 
}

main {
  transition: margin-top 0.45s ease-in-out;
}

/*Hover Interactions*/

/*TODO: add hover interactions
.button a:hover, #myBtn:hover, .menu-items a:hover, button[type="submit"]:hover  {
}
*/

button[type="submit"]:hover {
  background-color: var(--salmon);
}

.button a:hover {
  background-color: var(--yellow);
  color: var(--black-medium);
  cursor: pointer;
}

.footer-links a:hover {
  background-color: var(--black-light);
}

/*Font Sizes*/
/* In this section I have used Fixed font sizes, Font sizes with Media Queries and Font sizes with Clamp. The selectors are grouped according to page.*/
/*TODO: use clamp to replace all font sizes*/

/*Fixed font sizes for Navbar*/

.navbar .icon, .navbar.menuOpen .icon { font-size: 2.8rem ; }
.menu-items a { font-size: 1.5em ; }

/* The clamp() CSS function clamps a value between an upper and lower bound. It takes three parameters: a minimum value, a preferred value, and a maximum allowed value. The clamp() function is supported in all major browsers, except Internet Explorer, which has now been replaced by Microsoft Edge. It is useful for responsivity because it allows the font size to be responsive to the viewport width.*/
h1 { font-size: clamp(1.8rem, 1.3893rem + 2.3467vw, 4rem);}
h2 { font-size: clamp(1.5rem, 1.5rem + 1.2vw, 2.5rem); }
p { font-size: clamp(1rem, 0.9253rem + 0.4267vw, 1.4rem);}

/*GENERIC Fixed Styling*/
/*TODO: remove generic styling and replace with more specific selectors*/

body {
    overflow-x: hidden; /*responsive design to prevent horizontal scrolling*/
  }

* {
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  border: 0px;
  text-align: center;
}

section {
  max-width: 2000px; /*This rule is useful for responsivity because it prevents the section from expanding too much on giant viewports*/
  margin: auto;
}

h1,h2,h3,h4 {
  display: inline;
  font-weight: 300;
  text-align: center;
}

p {
  padding: 0em 2em;
  margin: auto;
}

.button {
  text-align: center;
}

.button a, #myBtn {
  display: inline;
  justify-content: center;
  border-style: solid;
  border-width: 0.2em;
  border-radius: 12em;
  padding: 0.5em 1em;
}



/*RESPONSIVE DESIGN STYLING*/
/* For the rest of this stylesheet, the CSS is focused on more viewport specific styling.*/


/* UTILITIES VIEWPORT SHOW/HIDE SWITCHES */
/* For responsive design, some elements will disappear at certain viewport breakpoints and "switch" to another element. Note that CSS is mobile-first.*/
/*breakpoints: mininum | 768px | 1208px | 1728px | max */

@media screen and (max-width: 768px) {.hide-in-mobile { display: none !important;}}
@media screen and (min-width: 769px) {.hide-in-tablet-laptop-and-desktop{ display: none !important;}}
  
@media screen and (max-width: 1208px) {.hide-in-mobile-and-tablet {display: none !important;}}
@media screen and (min-width: 1209px) {
.hide-in-laptop-and-desktop {display: none !important;} }

@media screen and (max-width: 1727.99px) {.hide-in-mobile-and-tablet-and-laptop {display: none !important;}}
@media screen and (min-width: 1728px) {
.hide-in-desktop {display: none !important;}}

/*Utilities*/

.display-grid {
  display:grid;
}

.background-wrapper /*this used for the features call to action*/ {
  grid-area: 2/1/7/3;
  margin-left: 0px !important;
  width: 100vw !important;
  /* height: 100%; */
  min-height: 295px;
  margin:auto auto auto;
  position: relative;
  z-index: -4;
}

@media screen and (max-width: 1208px) {
  .background-wrapper {
    min-height: 340px;
  }

  .background-wrapper.background-wrapper-black {
    min-height: 18rem; /*currently not selecting*/
    margin: 30px;
    grid-area: 2/1/7/3;
  }
}


/*RESPONSIVE DESIGN BY FEATURE*/
/*The selectors are grouped according to feature. Elements of each feature are then grouped with media queries, starting mobile first.*/

/*NAVBAR FEATURE
Elements = navbartitle, icon, menuitems */

nav {
  position: fixed;
  width:100%;
  height: 57px;
  z-index: 3;
}

.navbar {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

img.navbartitle {
  width: auto;
  max-height: 57px;
  margin: auto;
  padding: 0px;
  z-index: 5;
}

@media only screen and (max-width: 340px) {

}

.navbar .icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.2em;
}

.navbar #icon-open {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.2em;
}

.navbar .icon #icon-close {
  display: none;
  padding: 0.2em;
}

.navbar.menuOpen .icon #icon-open {
  display: none;
}

.navbar.menuOpen .icon #icon-close {
  display: flex;
  padding: 0.2em;
  text-decoration: none;
}

.navbar.menuOpen .icon #icon-close a {
  text-decoration: none;
}

.menu-items {
  border-bottom: 0em
}

.menu-items a {
  position: relative;
  margin: 0.49em 0.4em 0.2em;
  padding: 0.15em 0.7em 0.27em;
  text-decoration: none;
  border-radius: 6px;
}



.menu-items li {
  margin-bottom: 1em;
  list-style: none;
}

@media screen and (max-width: 769px) {
  .menu-items {
    display: none;
  }
}
.navbar.menuOpen {
    flex-direction: column;
}

.move-down {
  margin-top: 88px !important;
}

.navbar.menuOpen i {
  display: none
} 

.navbar.menuOpen ul {
    display: flex;
    flex-direction: column;

}


@media screen and (min-width: 768.99px) {
  .menu-items a {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  .menu-items li {
    display: inline-block; 
  }
  .navbar #icon-open {
    display: none;
  }
}



/*FOOTER FEATURE 
Elements = footer-small-print, footer icons */

/*TODO-pin footer to the bottom of the page*/

.container-fixed-footer {
  position:relative;
  min-height: 100vh;
}

.body-content-wrap-for-fixed-footer {
  padding-bottom: 25rem;    /* Footer height */
}

footer {
  position: absolute;
  bottom: 0;
  width:100%;
  margin-top: 2em;
  min-height: 20rem; /*Contributed by Sahil4883*/
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.footer-small-print {
  text-align: center;
  margin: 4em auto 1em;
  justify-content: center; 
}

.footer-row1,
.footer-row2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer-row2 {
margin-bottom: 40px;
}


.footer-links a { /*should be perfectly circular without distortion*/
  display: flex;
  border-radius: 1000px;
  padding: 10px;
  margin: 8px;
  width: auto;
  height: auto;
}

i.fa-brands {

font-size: 0.7em;

color: var(--white);

margin: auto auto auto auto;

z-index: 3;

/* position: relative; */
}

.footer-links img {
  width: 25px;
  height: auto;
  filter:invert(100%);
}


@media screen and (min-width: 700px) {
  .footer-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .footer-row1,
.footer-row2 {
  margin-bottom: 40px;}
}

/*HOME PAGE*/


/*HERO FEATURE*/

#hero-feature {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -1;
}

.hero-image-container {
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 1em;
  overflow: hidden;
}


.hero-image-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  border-radius: 1em;
}

.hero-image-container .mobile img {
    max-height: 700px;
  }

.hero-image-container .tablet {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    display: block;
    border-radius: 1em;
    overflow: hidden;
  }

.hero-image-container .tablet img {
    margin-top: -22%;
    }

.hero-image-container .desktop img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: inline;
    border-radius: 1em;
    }

.hero-image-container .desktop img {
  margin-top: -9%;
  }

.hero-heading {
  z-index: 1;
  position: absolute;
  top: 10em;
  left: 3%;
  right: 3%;
  margin: 0em;
  padding: 0.5em;
  text-align: center;
  border-radius: 0.3em;
  height: auto;
}

.hero-heading h1 {
margin: auto;
}

@media (max-width: 452px) {
  .hero-heading {
    top: 5em;
  }

  .hero-heading h1 {
    text-align: center;
}
}

@media (min-width: 768px) {
    .hero-heading {
      display: flex;
      align-items: center;
      z-index: 1;
      position: absolute;
      top: 4em;
      left: 10%;
      right: 10%;
      margin: 0em;
      padding: 0.5em;
      border-radius: 0.3em;
      height: auto;
  }
}
  .hero-heading h1 {
    text-align: center;
}

@media (min-width: 1208px) {
  .hero-heading {
  top: 4em;
  }

}

@media (min-width: 1728px) {
  .hero-heading {
  top: 2em;
  }
}

/*MISSION INTRO*/
/*I have styled this as a grid with media queries.*/

#mission-intro {
  margin-top: 8rem;
}

.responsive-1to2-columns {
  display: grid;
  margin-top: 50px;
}

@media (min-width: 768px) {
  .responsive-1to2-columns /*As the class name suggests, this class switches the grid from 1 column to 2 columns.*/
  {
    display: grid;
    grid-template-columns:  50% 50%;
  }
}

#bg-squiggle-spring {
  margin: -29rem 0rem 0rem 0rem;
  object-fit: contain;
  /* margin: auto; */
  max-width: 100%;
  z-index: -3;
  position: relative;
  overflow:hidden;
  grid-area: 1/1/3/3;
}

#mission-heading {
  grid-area: 1/1/2/3;
  text-align: center;
  align-content: center;
  margin: auto;
  padding: 0rem 5%;
  z-index: 5;
}

#mission-image {
  object-fit: contain;
  max-width: 90%;
  height: auto;
  grid-area: 2/1/3/3;
  /* min-height: 293px; */
  z-index:4;
  margin:  auto;
}

#bg-squiggle-flash {
  object-fit: contain;
  margin: auto;
  max-width: 100%;
  grid-area: 3/2/4/3;
}

#mission-more-info {
  grid-area: 3/1/4/3;
  text-align: center;
  align-content: center;
  margin: auto;
}

@media (min-width: 768px) {
  .responsive-1to2-columns {
    display: grid;
    grid-template-columns:  50% 50%;
    grid-area: 5/1/6/3;
  }
  
  #mission-image {
    grid-area: 2/1/3/2;
  }
  
  #bg-squiggle-flash {
    grid-area: 2/2/3/3;
  }

  #mission-more-info {
    grid-area: 2/2/3/3;
    text-align: left;
  }
}


@media (min-width: 1208px) {
  #bg-squiggle-spring {
    grid-area: 1/1/3/3;
    margin: -31rem 0rem 0rem;
    max-width: 67rem;
  }
  #mission-image {
    grid-area: 2/1/3/2;
  }
  #bg-squiggle-flash {
    grid-area: 2/2/3/3;
  }
  #mission-more-info {
    grid-area: 2/2/3/3;
    text-align: left;
    padding: 0rem 5rem;
    margin: 12rem auto auto auto;
  }

  #app-intro-nested {
    flex-direction: row;
  }
}

@media (min-width: 1728px) {
  #mission-image {
    grid-area: 2/1/4/2;
    
  }
  #bg-squiggle-flash {
    grid-area: 2/2/3/3;
  }
  #mission-more-info {
    grid-area: 2/2/3/3;
  }
}

/*HOME PAGE APP INTRO*/
/*the following #app-intro-nested is the same feature as #app-intro-parent". The difference is that #app-intro-parent is displayed on mobile view, while #app-intro-nested is displayed on laptop view, compressed into the right column of the #mission-intro feature */

#app-intro-parent, #app-intro-nested {
  /* margin-top: 100px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#app-intro-parent h2, #app-intro-nested h2 {
  display: flex;
  justify-content: center;
}

#app-intro-nested {
  grid-area: 2/2/3/3;
  z-index: 1;
  margin: auto;
  margin-top: 26rem;
}

#app-intro-nested img {
  object-fit: contain;
  margin: auto;
}

#app-intro-nested p {
  text-align: center;
}  


/*HOMEPAGE FEATURES LINK*/

#features-call-to-action {
  grid-template-columns: 1fr 1.5fr;
  margin-top: 4rem;
  margin: 4rem auto auto 0px;
}

#features-call-to-action img {
  margin: auto;
  grid-area: 1/1/3/3;
  max-width: 330px;
}

#features-h2-p-button {
  margin:auto;
  grid-area: 3/1/5/3;
}

/*@media (min-width: 768px) {
} */

@media (min-width: 1208px) {
  #features-call-to-action img {
    margin: auto 0 auto auto;
    grid-area: 1/1/3/2;
  }
  
  #features-h2-p-button {
    margin: auto auto auto 0;
    grid-area: 2/2/4/3;
    text-align: left;
    float: left;
    align-items: flex-start;
  }
}

/*@media (min-width: 1368px) {
  #features-call-to-action img {
  max-height: 700px; 
  width: auto;}
}
*/

/*Testimonials Header with inline logo*/
#testimonial-logo-inline {
  width: 90%;
  max-width: 600px;
}

/*HOME PAGE TESTIMONIAL FEATURE*/

/*readmore button
#more {
  display: none;
} */
/*Generic Styling*/

#testimonials-feature {
  margin-top: 100px
}


#testimonials-feature * {
  box-sizing: border-box;
}

#testimonials-feature {
    width: 100%;
    max-width: 1500px;
}

@media screen and (min-width: 1207.9px) {
#testimonials-feature {width: 90%;}
}

@media screen and (max-width: 1207.9px) {
  #testimonials-feature * {
    grid-column: 1 / span 2;
  }
}
  

/*mobile view, force all into 1 column*/
/*image-styling in mobile view*/
/*mobile view, row1, David Martinez, (grid rows 1-5)*/
/*mobile view, row2, Emily Wilson, (grid rows 6-11)*/
/*mobile view, row3, Michael Davis, (grid rows 12-17)*/
/*mobile view, row4, Danielle Turner, (grid rows 18-23)*/
/*mobile view, row5, John Anderson, (grid rows 24-29)*/
/*mobile view, row6, Emma Roberts, (grid rows 30-35)*/
/*mobile view, row7, Robert Thmpson, (grid rows 36-41)*/
/*mobile view, row8, Sarah Jones, (grid rows 42-47)*/


#testimonials-feature {grid-template-columns: 1fr 1fr;grid-template-rows: repeat(47, minmax(30px, auto));grid-gap: 5px;}

/*selects all elements in the section*/

/*user images*/
#testimonials-feature img {
  vertical-align: middle;
  margin: auto;
  border-radius: 2em;
  width: 80%;
  max-width: 60%;
  min-height: 310px;
  }

img.user-image.david-martinez.tablet-image-on-left.tablet-row-1.laptop-row-1-left {
    grid-column: 1/span 1;
}

.user-image.tablet-row-1{grid-row: 1/span 2;}
.user-image.tablet-row-2{grid-row:6/span 2;}
.user-image.tablet-row-3{grid-row:12/span 2;}
.user-image.tablet-row-4{grid-row:18/span 2;}
.user-image.tablet-row-5{grid-row:24/span 2;}
.user-image.tablet-row-6{grid-row:30/span 2;}
.user-image.tablet-row-7{grid-row:36/span 2;}
.user-image.tablet-row-8{grid-row:42/span 2;}

/*positioning*/
.testimonial-background {
  margin:auto;
  border-radius:2em;
}

h3.testimonial-name {
  margin: auto auto auto;
} 

h4.testimonial-title {margin: 50px auto 10px;}

#testimonials-feature .user-image {max-width:280px; height: auto;}
#testimonials-feature .testimonial-text {width: 80%}

#testimonials-feature .testimonial-title 
.air-quotations-closing {z-index:-1; margin: 120px auto 0px !important;}
.air-quotations-closing {z-index:-1;margin: 120px auto 0px;}
.testimonial-background-blue, .testimonial-background-orange {z-index: -2; width: 100%; height: 100%;}
.testimonial-background {width: 85%;max-height: 89%;}

/*below are the selectors for each testimonial, specifying the grid area, we will use the tablet selector for mobile*/

.testimonial-text.tablet-row-1{grid-row: 3/ span 1;}
.testimonial-text.tablet-row-2{grid-row: 8/ span 1;}
.testimonial-text.tablet-row-3{grid-row: 14/ span 1; }
.testimonial-text.tablet-row-4{grid-row: 20/ span 1; }
.testimonial-text.tablet-row-5{grid-row: 26/ span 1; }
.testimonial-text.tablet-row-6{grid-row: 32/ span 1; }
.testimonial-text.tablet-row-7{grid-row: 38/ span 1; }
.testimonial-text.tablet-row-8{grid-row: 44/ span 1; }/*last track=47*/

.testimonial-name.tablet-row-1, .testimonial-title.tablet-row-1{grid-row: 4/ span 1; }
.testimonial-name.tablet-row-2, .testimonial-title.tablet-row-2{grid-row: 9/ span 1; }
.testimonial-name.tablet-row-3, .testimonial-title.tablet-row-3{grid-row: 15/ span 1; }
.testimonial-name.tablet-row-4, .testimonial-title.tablet-row-4{grid-row: 21/ span 1; }
.testimonial-name.tablet-row-5, .testimonial-title.tablet-row-5{grid-row: 27/ span 1; }
.testimonial-name.tablet-row-6, .testimonial-title.tablet-row-6{grid-row: 33/ span 1; }
.testimonial-name.tablet-row-7, .testimonial-title.tablet-row-7{grid-row: 39/ span 1; }
.testimonial-name.tablet-row-8, .testimonial-title.tablet-row-8{grid-row: 45/ span 1; }
/*last track=47*/

.testimonial-background.tablet-row-1,.air-quotations.tablet-row-1 {grid-row: 2/ span 3; }
.testimonial-background.tablet-row-3,.air-quotations.tablet-row-3 {grid-row: 13/ span 3; }
.testimonial-background.tablet-row-5, 
.air-quotations.tablet-row-5 {grid-row: 25/ span 3; }
.testimonial-background.tablet-row-7, 
.air-quotations.tablet-row-7{grid-row: 37/ span 3; }
.testimonial-background.tablet-row-2, 
.air-quotations.tablet-row-2{grid-row: 7/ span 3;}
.testimonial-background.tablet-row-4, 
.air-quotations.tablet-row-4{ grid-row: 19/ span 3; }
.testimonial-background.tablet-row-6, 
.air-quotations.tablet-row-6{ grid-row: 31/ span 3; }
.testimonial-background.tablet-row-8, 
.air-quotations.tablet-row-8{ grid-row: 43/ span 3; }/*last track=47*/



/*----------------*/
@media screen and (min-width: 768px) and (max-width: 1207.9px) {

/*X-axis positioning spans*/
#testimonials-feature .user-image.user-image.tablet-image-on-left {grid-column: 1/ span 1;}
#testimonials-feature .user-image.tablet-image-on-right { grid-column: 2/ span 1; }
#testimonials-feature .testimonial-text.tablet-image-on-left {grid-column: 2/ span 1;}

p.testimonial-text.david-martinez.grid-group-A.tablet-image-on-left.tablet-row-1.laptop-row-1-left.laptop-grid-column-2 {
    grid-row: 2;
}
#testimonials-feature .testimonial-text.tablet-image-on-right {grid-column: 1/ span 1;}

p.testimonial-text.emily-wilson.grid-group-B.tablet-row-2.laptop-row-4-right.tablet-image-on-right.laptop-grid-column-4 {
    grid-row: 7/ span 1;
} /*design tweaks for anomoly positioning*/

#testimonials-feature .testimonial-name.tablet-image-on-left {grid-column: 2/ span 1;}
#testimonials-feature .testimonial-name.tablet-image-on-right {grid-column: 1/ span 1;}
#testimonials-feature .testimonial-title.tablet-image-on-left {grid-column: 2/ span 1;}
#testimonials-feature .testimonial-title.tablet-image-on-right {grid-column: 1/ span 1;}
.air-quotations-opening { grid-column:2/span 1;} /*if opening then place right column*/
.air-quotations-closing { grid-column: 1/ span 2; } /*if closing then place left column*/

/*.testimonial-background-blue, .testimonial-background-orange { grid-column: 1/ span 2; } 
 this should be selected already by the generic styling*/

/*box positioning*/
#testimonials-feature .user-image.tablet-image-on-left {margin: 0% 0% 40px 30%;}
#testimonials-feature .user-image.tablet-image-on-right {margin: 40px 0px 0px 15%;}
#testimonials-feature .testimonial-text.tablet-image-on-left {margin: 10% 26% 4% 0%;padding: 0% 0% 0% 0%;text-align: left;}
#testimonials-feature .testimonial-text.tablet-image-on-right {margin: 10% -2% 7% 29%;padding: 0% 0% 0% 0%;text-align: right;}

#testimonials-feature .testimonial-name.tablet-image-on-left {margin: 0px 0% 0px 0%;text-align: left;} 
#testimonials-feature .testimonial-name.tablet-image-on-right {margin: -25px 0% 25px 64%;text-align: right;}

h3.testimonial-name.emily-wilson.tablet-row-2.laptop-row-4-right.tablet-image-on-right {
    margin: -29px 0% 25px 64%;
    /* text-align: right; */
}
#testimonials-feature .testimonial-title.tablet-image-on-left {/* margin: auto auto auto auto; *//* margin: 21% 26% 4% 0%; */padding: 0% 0% 0% 0%;margin: 30px 0% 60px 0%;text-align: left;}
#testimonials-feature .testimonial-title.tablet-image-on-right {
    margin: -1px 0% 0px 0%;
    padding: 0% 0% 0% 0%;
    text-align: right;
} 
#testimonials-feature .air-quotations-opening {/* margin: auto auto auto auto; */margin: 0% 12% 4% 40%;padding: 0% 0% 0% 0%;height: auto;max-width: 472px;} 
#testimonials-feature .air-quotations-closing {/* margin: auto auto auto auto; */margin: 3rem 46% -20rem 16%;padding: 0rem;height: auto;max-width: 472px;}
#testimonials-feature .testimonial-background-blue {margin: 0px 0% 0px 22%;width: 70%;}   /*if blue nudge right*/
#testimonials-feature .testimonial-background-orange {margin: 0px 0% 0px 10%;width: 70%;}  /*if orange nudge left*/

/* Y-axis positioning in tablet view, span is a little different*/
.user-image.tablet-row-1{grid-row:1/span 3;}
.user-image.tablet-row-2{grid-row:7/span 4;}/*different because it's tablet-image-on-right*/
.user-image.tablet-row-3{grid-row:12/span 3;}
.user-image.tablet-row-4{grid-row:20/span 4;}/*different because it's tablet-image-on-right*/
.user-image.tablet-row-5{grid-row:24/span 3;}
.user-image.tablet-row-6{grid-row:32/span 4;}/*different because it's tablet-image-on-right*/
.user-image.tablet-row-7{grid-row:36/span 3;}
.user-image.tablet-row-8{grid-row:44/span 4;}/*different because it's tablet-image-on-right*/

/*testimonial text omitted, actually has the same Y-Axis grid placement and span as mobile view*/

.testimonial-name.tablet-row-1, .testimonial-title.tablet-row-1{grid-row: 3/ span 1; }
.testimonial-name.tablet-row-2, .testimonial-title.tablet-row-2{grid-row: 8/ span 1;}
.testimonial-name.tablet-row-3, .testimonial-title.tablet-row-3{grid-row: 15/ span 1; }
.testimonial-name.tablet-row-4, .testimonial-title.tablet-row-4{grid-row: 21/ span 1; }
.testimonial-name.tablet-row-5, .testimonial-title.tablet-row-5{grid-row: 27/ span 1; }
.testimonial-name.tablet-row-6, .testimonial-title.tablet-row-6{grid-row: 33/ span 1; }
.testimonial-name.tablet-row-7, .testimonial-title.tablet-row-7{grid-row: 39/ span 1; }
.testimonial-name.tablet-row-8, .testimonial-title.tablet-row-8{grid-row: 45/ span 1; }
/*last track=47*/

/*testimonial backgorund-blue has same Y-alignment as mobile view*/
.testimonial-background.tablet-row-2{ grid-row: 6/ span 4; }
.testimonial-background.tablet-row-4{ grid-row: 19/ span 4; }
.testimonial-background.tablet-row-6{ grid-row: 31/ span 4; }
.testimonial-background.tablet-row-8{ grid-row: 43/ span 4; }

.testimonial-background.tablet-row-1{grid-row: 2/span 3;}
.testimonial-background.tablet-row-3{grid-row:13/span 3;}
.testimonial-background.tablet-row-5{grid-row:25/span 3;}
.testimonial-background.tablet-row-7{grid-row:37/span 3;}

/*last track=47*/

.air-quotations.tablet-row-1 {grid-row: 2/span 2;}
.air-quotations.tablet-row-3 {grid-row: 13/span 2;}
.air-quotations.tablet-row-5 {grid-row: 25/span 2;}
.air-quotations.tablet-row-7 {grid-row: 37/span 2;}
.air-quotations.tablet-row-2 {grid-row: 6/span 2;}
.air-quotations.tablet-row-4 {grid-row: 18/span 2;}
.air-quotations.tablet-row-6 {grid-row: 30/span 2;}
.air-quotations.tablet-row-8 {grid-row: 42/span 2;}/*last track=47*/
/*tablet view, row1, David Martinez, (grid rows 1-5)*/
/*tablet view, row2, Emily Wilson, (grid rows 6-11)*/
/*tablet view, row3, Michael Davis, (grid rows 12-17)*/
/*tablet view, row4, Danielle Turner, (grid rows 18-23)*/
/*tablet view, row5, John Anderson, (grid rows 24-29)*/
/*tablet view, row6, Emma Roberts, (grid rows 30-35)*/
/*tablet view, row7, Robert Thmpson, (grid rows 36-41)*/
/*tablet view, row8, Sarah Jones, (grid rows 42-47)*/

}

/*in laptop view, present testimonials as 2 columns and 4 rows*/
@media screen and (min-width: 1208px) {
#testimonials-feature {
  grid-template-columns: 1fr 1fr 0.3fr  1fr 1fr; /* 3rd fr is column-gap*/
  grid-gap: 5px;
  grid-template-rows: repeat(4,1fr 0.15fr);
  min-height: 221px;
  }
/*box-model-positioning - generic*/
#testimonials-feature p.testimonial-text {padding: 0px 3%;/* width: 109%; *//* margin: auto 20px 72px -38px; */font-size: 17px;}

#testimonials-feature h4.testimonial-title {margin: auto 0px 25px 0px;font-size: 13px;}

#testimonials-feature h3.testimonial-name {margin: auto 0px 45px 0px;}


/*box-model positioning - GROUP A - image on upper left*/
#testimonials-feature img.user-image.grid-group-A {
  margin: 0px 20px 49px -28px;
  /* padding: 0px 0px 25px 0px; */
  max-height: auto;
  width: auto;
  height: auto;
  max-width: 203px;
  object-fit: cover;
}

#testimonials-feature p.testimonial-text.grid-group-A {
  margin: 60px 1px 15px -33%;
  text-align: left;
  padding: 0px 10px 0px 65px;width: 120%;
}

p.testimonial-text.robert-thompson.grid-group-A.tablet-row-7.laptop-row-3-right.tablet-image-on-left.laptop-grid-column-5 {
    padding: 0px 7% 1px 14px !important;
}

#testimonials-feature h4.testimonial-title.grid-group-A 
{margin: auto 0px 12px -20px;text-align: left;/* font-size: 12px; */}

#testimonials-feature h3.testimonial-name.grid-group-A 
{margin: auto 0px 31px -6%;text-align: left;}

#testimonials-feature img.air-quotations-opening {margin: 0px 0px 0px 27%;}

img.air-quotations.air-quotations-closing {
    margin: 0px 27% 0px 0px;
}

#testimonials-feature img.testimonial-background.grid-group-A {margin: 24px 0px 0px 81px;}

/*box-model positioning - GROUP B - image on lower right*/

#testimonials-feature img.user-image.grid-group-B {margin: 0px 0px 39px 15%;max-width: auto;width:  auto;height: 220px;}

img.air-quotations-opening {
    margin: 0px 0px 0px 0px;
}
#testimonials-feature p.testimonial-text.grid-group-B {/* margin: 0px 0px 0px 0px; */text-align: right;}
#testimonials-feature h4.testimonial-title.grid-group-B {margin: auto 0px 14px 0%;text-align: right;}
#testimonials-feature h3.testimonial-name.grid-group-B {margin: auto 0px 33px 0%;text-align: right;}
#testimonials-feature img.air-quotations-closing {margin: 0px 0px 0px 0px}
#testimonials-feature img.testimonial-background.grid-group-B {margin: 0px 0px 0px 0px}

/*horizontal grid positioning*/
/*TODO -- extra class names in html for elements on the same laptop-grid-column*/

#testimonials-feature .laptop-grid-column-1 {grid-column: 1/ span 1;width: 110%;}
#testimonials-feature .laptop-grid-column-2 {grid-column: 2/ span 1;width: 110%;}
#testimonials-feature .laptop-grid-column-3 {grid-column: 3/ span 1;}
#testimonials-feature .laptop-grid-column-4 {grid-column: 4/ span 1;width: 110%;/* max-width: 271px; */}
#testimonials-feature .laptop-grid-column-5 {grid-column: 5/ span 1;width:  110%;margin: 50px 0px 0px -26px;}
#testimonials-feature .laptop-grid-column-1-span-2 {grid-column: 1/ span 2;}
#testimonials-feature .laptop-grid-column-4-span-2 {grid-column: 4/ span 2;}


/* vertical grid positioning*/

#testimonials-feature .david-martinez, #testimonials-feature .air-quotations.laptop-row-1-left, #testimonials-feature .emma-roberts {grid-row: 1/ span 1; }

div.testimonial-background.grid-group-A {
    margin: 40px 0px auto 50px;
    max-width: 100%;
}

div.testimonial-background.grid-group-B {
    margin: 40px 96px auto auto;
}

#testimonials-feature .john-anderson, #testimonials-feature .sarah-johnson {grid-row: 3/ span 1; }
#testimonials-feature .robert-thompson, #testimonials-feature .danielle-turner {grid-row: 5/ span 1; }
#testimonials-feature .emily-wilson, #testimonials-feature .michael-davis {grid-row: 7/ span 1; }

/*laptop view, row1, left column, David Martinez, (grid rows 1-2)*/
/*laptop view, row1, right column, Emma roberts, (grid rows 1-2)*/
/*laptop view, row2, left column, Sarah Jones, (grid rows 3-4)*/
/*laptop view, row2, right column, John Anderson, (grid rows 3-4)*/
/*laptop view, row3, left column, Danielle Turner, (grid rows 5-6)*/
/*laptop view, row3, right column, Robert Thompson, (grid rows 5-6)*/
/*laptop view, row4, left column, Michael Davis, (grid rows 7-8)*/
/*laptop view, row4, right column, Emily Wilson, (grid rows 7-8)*/
}

/*Book trial call to ACTION*/

.booktrial-link {
  grid-template-columns: 1.5fr 1fr;
  justify-content: center;
  border-radius: 2em;
  /* width: 80%; */
  /* margin-left: 10%; */
  /* margin-right: 10%; */
  grid-template-rows: min-content;
}

.booktrial-link p {
    grid-area: 4/1/5/3;
}

.booktrial-link .button {
    grid-area: 5/1/6/3;
    margin: 22px auto auto;
}

.booktrial-link img{
  grid-area: 1/1/3/3;
  height: auto;
  margin: auto;
  width: 90%;
  max-width: 330px;
}

@media (min-width:1208px) {
  .booktrial-link img {
    grid-area: 1/2/3/3;
    margin: -1px 0px -40px 28px;
    z-index:  3;
  }
}

.booktrial-link h2{
  grid-area: 3/1/4/3;
}

@media (min-width:1208px) {
  .booktrial-link h2 {
    grid-area: 2/1/3/1;
    margin: auto 0px auto auto;
    text-align: right;
  }

  .booktrial-link p {
    /* grid-area: 3/2/4/3; */
    /* margin: 0px auto auto auto; */
    grid-area: 2/1/4/2;
    margin: auto 0px 28px auto;
    text-align: right;
    padding: 0px 0px;
  }

  .booktrial-link .button {
    grid-area: 4/1/5/2;
    margin: auto 0px auto auto;
  }
}

.booktrial-link .background-wrapper-orange {
  /* grid-area: 2/1/4/3; */
  background-color: orange;
  /* z-index: 5; */
  /* width: 100%; */
  height:  20rem;
}

img.booktrial-link 

/*-----------New Page----------*/
/*FEATURES LANDING*/
/*these classes effect Homepage features intro */

.features-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.features-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper img {
  max-width: 8em;
  display: inline-block;
  align-items: center;
  height: auto;
  flex-direction: row;
}

.features-landing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.features-heading-container h1 {
  display: inline;
  text-align: center;
}


.features-landing h2 {
  display: flex;
  justify-content: center;
}

.features-wrapper {
  border-width: 0em 5em;
  padding: 3em 1em 3em;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 0%;
  width: 80%;
  flex-direction: column;
  align-items: center;
}

.features-heading-container {
  display: block;
}

@media screen and (min-width: 800px) { 
  .app-wrapper {
  display: flex;
  flex-direction: row;
  justify-items: stretch;
  float: center;
  width: 100%;
  justify-content: center;
  flex-wrap: nowrap;
  }
}
  
/*Description of 3 FEATURES*/
@media screen and (max-width: 850px) {
  .img-text-wrapper-reverse, 
    .img-text-wrapper {
    width: 90%
  }

.img-text-wrapper img, .img-text-wrapper-reverse img  {
  max-width: 90%;
}
}
@media screen and (min-width: 850px) {
  .img-text-wrapper {
    display: flex;
    flex-direction: row;
  }

  .img-text-wrapper-reverse {
    display: flex;
    flex-direction: row-reverse;
  }

  .img-text-wrapper, .img-text-wrapper-reverse {
    padding-inline: 12%;
  }

  .img-text-wrapper img, .img-text-wrapper-reverse img {
  width: 35%;
  height: auto;
  object-fit: contain;
}

  .img-text-wrapper p, .img-text-wrapper-reverse p{
    align-items: center;
    display: flex;
  }
}

@media screen and (min-width: 1728px) {
  .img-text-wrapper, .img-text-wrapper-reverse {
    padding-inline: 54px;
    margin-inline: 10%;
    width: 1400px;
    margin: auto;
  }

  .img-text-wrapper img, .img-text-wrapper-reverse img {
    width: 500px;
    height: 500px;
    margin: auto;
    object-fit: contain;
  }

  .img-text-wrapper p, .img-text-wrapper-reverse p{
    align-items: center;
    display: flex;
    margin: 80px 0px;
  }
}

/* FEATURES LINK */

.features-link-img-wrapper img {
  width: 80%;
} 


/*BOOK TRIAL & THANK YOU LANDING FEATURE
Elements: */

#booktrial-landing {
  grid-template-columns: 3fr 1fr;
  margin:60px auto auto auto;
  width:100%;
  grid-gap: 5px;
}

.heading-container {
  grid-area: 1/1/3/3;
  border-width: 0em 5em;
  padding: 3em 1em 3em;
  border-radius: 12px;
  width: 90%;
  min-height:150px;
  margin: auto;
} 

#booktrial-landing h1 {
  text-align: center;
  grid-area: 1/1/2/3;
  padding: 1rem;
  margin: 48px auto auto auto;
}

#booktrial-landing img {
  grid-area: 2/1/4/3;
  max-width: 250px;
  height: auto;
  z-index:4;
  margin: auto;
}

/*laptop view, grid display switches to row layout*/

@media only screen and (min-width: 1208px) {

  .heading-container {
    grid-area: 1/1/2/3;
    border-width: 0em 5em;
    padding: 3em 1em 3em;
    border-radius: 12px;
    /* width: 90%; */
    min-height:150px;
    margin: auto;
  } 
  
  #booktrial-landing h1 {
    text-align: right;
    grid-area: 1/1/2/2;
    padding: 1rem;
    margin: auto 130px auto auto;
  }
  
  #booktrial-landing img {
    grid-area: 1/2/4/3;
    max-width: 300px;
    height: auto;
    z-index:4;
    margin: 27px auto auto -20px;
  }



}

/*SIGN UP FORM*/
.booktrial-form h2 {
  display: flex;
  justify-content: center;
}

#bg-squiggles-writing {
  object-fit: contain;
  margin: auto;
  max-width: 100%;
  max-height: 900px;
  z-index: -4;
  position: absolute;
  top: 231px;
  overflow: hidden;
  left: 0px;
}

#form-grid-container > div {
  margin-top: 15px;
}

.booktrial-bg-img img{
  width: 100%;
  top: 19em;
  height: auto;
  z-index: -1;
  position: absolute;
}





form input[type="text"],
form input[type="password"],
form input[type="tel"],
form input[type="email"] {
  padding: 0.7em 1em;
  border: 0.15em solid black;
  border-radius: 0.7em;
  text-align: center;
  width: 70%;
  /* margin-top: 0px; */
}

h2, p, form {
  text-align: center;
}

form {
    grid-area: 2/2/3/3;
}

.fa-square-xmark:before, .booktrial-form .error { display: none;
}

.fa-square-check:before {
  display: none;}

button[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  margin: 1em;
}



@media  screen and (min-width:744px) {
#form-grid-container {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-top: 30px;
}

form input {
  width: 70%;
  text-align: center;
  justify-content: center;
  margin: 0px 10%;
}

#form-grid-container > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#fname, #school, #email, #password {
  grid-column-start: 1;
}

#lname, #job-title, #mobile-number, #confirm-password {
  grid-column-start: 2;
}


}

@media  screen and (min-width: 1208px) {
  #booktrial-form {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  #booktrial-form > h2,p, .submit {
    grid-area: 1/2/2/3;
    /* padding: 0px 0px; */
    /* text-align: left; */
  }

#features-call-to-action #features-h2-p-button > h2,p,.button {
    text-align: left;
    padding:  0px;
    /* margin-right: 0px; */
}

#booktrial-form p {
    margin-top: 65px;
}

.submit {
    margin-top: 30px;
    /* display: none; */
    align-content: center;
}

  button[type="submit"] {
    grid-column-start: 1;
    grid-column-start: 1;
    margin: 0em auto;
    /* width: 6em; */
    /* height: 2em; */
    font-weight: 600;
}
  }